<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="info" internalLogFile="/var/log/internal-nlog.txt">
    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>
    <targets>
        <target xsi:type="Console" name="ConsoleOutput">
            <layout xsi:type="JsonLayout" includeAllProperties="false">
                <attribute name="@timestamp" layout="${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}" />
                <attribute name="ApplicationName" layout="${iis-site-name:upperCase=true}" />
                <attribute name="Logger" layout="${logger}" />
                <attribute name="MethodName" layout="${callsite}" />
                <attribute name="LogLineNumber" layout="${callsite-linenumber}" />
                <attribute name="Date" layout="${date:universalTime=true:format=o}" />
                <attribute name="Exception" layout="${exception:maxInnerExceptionLevel=3:format=ToString}" />
                <attribute name="CallStack" layout="${stacktrace:format=Raw}" />
                <attribute name="Message" layout="${message}" />
                <attribute name="Level" layout="${level:upperCase=true}" />
                <attribute name="ContainerId" layout="${machineName:upperCase=true}" />
                <attribute name="Url" layout="${aspnet-Request-Url}" />
                <attribute name="QueryString" layout="${aspnet-request:queryString}" />
                <attribute name="Referer" layout="${aspnet-request:header=Referer}" />
                <attribute name="Client-IP" layout="${aspnet-request:header=Client-IP}" />
            </layout>
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="ConsoleOutput" />
    </rules>
</nlog>